<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Newsy</title>
  </head>
  <body>
    <div class="container">
        <div  class="div-one" *ngFor="let article of articles; let i = index">
          <div class="box-header">
            <h1>{{article.source.name}}</h1>
            <div [ngStyle]="{'background-image': 'url(../assets/images/'+ article.source.id +'.png)'}" class="logo-image"></div>
          </div>
          <div class="box-title">
            <h1 class="desc">{{article.title}}</h1>
            <img src="{{article.urlToImage}}" alt="headline-img" class="head-img">
            <p class="a-desc">{{article.description}}</p>
            <div class="box-opt">
              <p *ngIf="article.likes" class="like">{{article.likes}}</p>
              <a (click)="addLike(article)" class="options"><i class="fas fa-heart"></i>Likes</a>
              <a (click)="changeState(article)" class="options"><i class="fas fa-share-alt"></i>Share</a>
              <a href="{{article.url}}" class="options"><i class="fas fa-info"></i>More</a>
              <div [ngClass]="article.clicked == true ? 'links': 'hidden'" >
                <a href="http://twitter.com/share?&url={{article.url}}"><i class="fab fa-twitter"></i></a>
                <a href="http://www.facebook.com/sharer.php?u={{article.url}}"><i class="fab fa-facebook-f"></i></a>
                <a href="mailto:?subject=News Headlines&body=Check out this site! {{article.url}}"><i class="fas fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
